body {
    background: #000;
    color: #ddd;
}
.interior p, h2, h3, h4, h5, h6 {
	padding: 10px;
}
.interior {
    background: #000;
}
.interior h1 {
    font: 1.5em/80% "DINPro-Medium";
    color: #000;
    margin: 10px 20px 5px;
	text-transform: uppercase;
}
/* @group Toolbar */
.interior .toolbar {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #000;
    padding: 10px;
    height: 45px;
    background: url(img/toolbar.png) #000000 repeat-x;
    position: relative;
}
.interior .black-translucent .toolbar {
    margin-top: 20px;
}
.interior .toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 12px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 22px;
    width: 150px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.interior.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
.interior .button, .interior .back, .interior .cancel, .interior .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(img/button.png) 0 5 0 5;
}
.interior .button.active, .interior .cancel.active, .interior .add.active {
    -webkit-border-image: url(img/button_clicked.png) 0 5 0 5;
}
.interior .blueButton {
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}
.interior .back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(img/back_button.png) 0 8 0 14;
}
.interior .back.active {
    -webkit-border-image: url(img/back_button_clicked.png) 0 8 0 14;
}
.interior .leftButton, .interior .cancel {
    left: 6px;
    right: auto;
}
.interior .add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.interior .whiteButton,
.interior .grayButton, .interior .redButton, .interior .blueButton, .interior .greenButton {
    border-width: 0 12px;
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: inherit;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.interior .whiteButton.active, .interior .grayButton.active, .interior .redButton.active, .interior .blueButton.active, .interior .greenButton.active,
.interior .whiteButton:active, .interior .grayButton:active, .interior .redButton:active, .interior .blueButton:active, .interior .greenButton:active {
    -webkit-border-image: url(img/activeButton.png) 0 12 0 12;
    color: #000000 !important;
}
.interior .whiteButton {
    -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
}
.interior .grayButton {
    -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}

.interior .redButton {
    -webkit-border-image: url(img/redButton.png) 0 12 0 12;
}

.interior .greenButton {
    -webkit-border-image: url(img/greenButton.png) 0 12 0 12;
}


/* @end */

/* @group Toggle */
.interior .toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}
.interior .toggle input[type="checkbox"]:checked {
    background-position: 0 0;
}
.interior .toggle input[type="checkbox"] {
    -webkit-appearance: textarea;
    -webkit-border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: background-position .15s;
    background-color: transparent;
    background: #fff url(img/on_off.png) -55px 0 no-repeat;
    border: 0;
    height: 27px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 94px;
}
/* @end */
/* @group Info */
.interior .info {
    background: #000;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: #444;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.2);
    font-weight: bold;
}
/* @end */
/* @group Edge to edge */
.interior ul.edgetoedge {
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
.interior ul.edgetoedge li {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 0;
}
.interior ul.edgetoedge li.last {
    border-bottom: none;
}
.interior ul.edgetoedge li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
.interior ul.edgetoedge li.sep {
    border-bottom: 1px solid #111113;
    border-top: 1px solid #666;
    color: #3e9ac3;
    font-size: 14px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #000 0 1px 0;
}
.interior ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}
/* @end */
