/* CSS Document */

@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/DINPro-Medium.eot');
	src: local('DinPro Medium'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmericanTypewriterStd-Med';
	src: url('../fonts/AmericanTypewriterStd-Med.eot');
	src: local('ITC American Typewriter Std Medium'), url('../fonts/AmericanTypewriterStd-Med.woff') format('woff'), url('../fonts/AmericanTypewriterStd-Med.ttf') format('truetype'), url('../fonts/AmericanTypewriterStd-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font: .8em/1.43em Arial, Helvetica, sans-serif;
	background: #fff;
}
h2, .h2, .single-title {
	font: 3.3em/100% "DINPro-Medium";
	text-transform: uppercase;
	padding-bottom: 0.5em;
}
p {
	padding-bottom: .8em;
}
#nav {
	font-family: 'DINPro-Medium';
	font-size: 14px;
	text-transform: uppercase;
	float: right;
	margin: 70px 10px 0 0;
}
#nav ul li {
	display: inline;
	margin: 0 12px;
}	
#nav a {
	color: #fff;
	text-decoration: none;
}
#nav a:hover {
	color: #ffc20e;
}
h1#logo {
	float: right;
	width: 217px;
	height: 87px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin: 15px 0 0 20px;
}
h1#logo a {
	display: block;
	height: 100%;
	width: 100%;
}

.clear {
	clear: both;
}


/*blog*/

.blogheader {
	background: #2b2b2b;
	border-bottom: 5px solid #f7bc0e;
	width: 100%;
	margin: 0;
	height: 110px;
	position: fixed;
	top: 0;
	min-width: 800px;
	z-index: 99;
}
#container a {
	/*color: #f7bc0e;*/
	color: #cc3300;
	text-decoration: none;
}
#container h1 a, #container h2 a {
	color: #000;
}
#container a:hover {
	text-decoration: underline;
}
#cta {
	background: #000 url(../images/cta.jpg) center no-repeat;
	height: 249px;
	margin-top: 115px;
	color: #fff;
}
.blogwrapper {
	width: 960px;
	margin: 0 auto;
}
#cta .blogwrapper {
	width: 480px;
	padding: 20px 0 20px 480px;
}
.blogwrapper section, .blogwrapper .section {
	float: left;
	width: 620px;
	margin: 0 10px;
	padding: 20px 0;
}
section h2, .section h2, .h2, .single-title {
	font-size: 1.8em;
	text-transform: none;
	line-height: 100%;
}
.blogwrapper aside, .blogwrapper .aside {
	width: 300px;
	margin: 0 10px 0 650px;
	padding: 20px 0;
}
.date {
	color: #666;
	font-size: .8em;
}
#container hr {
	display: block;
	width: 100%;
	height: 1px;
	background: #999;
	margin: 9px 0 10px 0;
}
.tags {
	font-size: .8em;
	padding: 12px 0;
	border-top: #666 1px solid;
	border-bottom: #666 1px solid;
}
#cta .blogwrapper p a.more {
	display: inline-block;
	color: #2b2b2b;
	padding: 1% 2%;
	background: #ffc20e;
	font-size: 20px !important; 
	line-height: 20px !important;
	text-transform: uppercase;
	/*box-shadow: #000 2px 2px 2px;*/
	text-decoration: none;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	float: right;
	margin-right: 50px;
}



.hidden {
	display: none;
}


/*********** Contact Form 7 ***********/

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}

.rightColumn label {
	display: block;
	font-size: 1em;
	line-height: 100%;
	font-weight: bold;
	float: left;
	width: 30%;
	margin-right: 10px;
	text-align: right;
	padding-top: 6px;
}
.rightColumn input, .rightColumn select, .rightColumn textarea {
	/*width: 100%;*/
	margin-bottom: 1.5%;
	line-height: 80%;
	width: 60%;
}
.wpcf7-submit {
	display: block;
	background-color: #ffc20e;
	border: 0;
	font-family: "DinPro-Medium";
	text-transform: uppercase;
	padding: 5px;
	font-size: 200%;
	line-height: 60%;
	width: auto !important;
	height: auto !important;
	box-shadow: #000 3px 3px 3px;
	cursor: pointer;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	margin: 2% 0 2% 35%;
}
