/* CSS Document */



#jay {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='http://76.12.123.27/wp-content/themes/bones/images/jay_ie.png',
		sizingMethod='crop');
}
#judy {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='http://76.12.123.27/wp-content/themes/bones/images/judy_ie.png',
		sizingMethod='crop');
}
#gary {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='http://76.12.123.27/wp-content/themes/bones/images/gary_ie.png',
		sizingMethod='crop');
}


#panel {
	background-color: #ffffff;
	background: url(../images/panelambulance_ie.jpg) no-repeat center 117px;
	z-index: 5;
}

header {
	width: 300px;
	margin: 0 auto;
	z-index: 99;
}

#blipborder {
	z-index: 5;
}

ul.pxs_slider li div .rightColumn {
	float: left;
	margin-left: 15px;
}

ul.pxs_thumbnails li{
	float: left;
}

.incident {
	width: 350px;
}
