

.blogheader, .blockwrapper, #logo {
	display: block !important;
	font-size: 32px !important;
	text-transform: uppercase !important;
	color: #000 !important;
	text-indent: none !important;
}

#nav, footer, #footer, .blogheader, #cta, #sidebar1 {
	display: none;
}

