/* CSS Document */

@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/DINPro-Medium.eot');
	src: local('DinPro Medium'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmericanTypewriterStd-Med';
	src: url('../fonts/AmericanTypewriterStd-Med.eot');
	src: local('ITC American Typewriter Std Medium'), url('../fonts/AmericanTypewriterStd-Med.woff') format('woff'), url('../fonts/AmericanTypewriterStd-Med.ttf') format('truetype'), url('../fonts/AmericanTypewriterStd-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font: .8em/1.43em Arial, Helvetica, sans-serif;
	color: #fff;
	background: #fff;
}
#homepage {
	height: 100%;
	overflow: hidden;
	background: #000;
}
h2 {
	font: 3.3em/80% "DINPro-Medium";
	text-transform: uppercase;
	padding-bottom: 0.5em;
}
p {
	padding-bottom: .8em;
}
header, #header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 80%;
	margin: 0 10%;
	z-index: 99;
	min-width: 800px;
}
#nav {
	font-family: 'DINPro-Medium';
	font-size: 14px;
	text-transform: uppercase;
	float: right;
	margin: 70px 10px 0 0;
}
#nav ul li {
	display: inline;
	margin: 0 12px;
}	
#nav a {
	color: #fff;
	text-decoration: none;
}
#nav a:hover {
	color: #ffc20e;
}
h1#logo {
	float: right;
	width: 217px;
	height: 87px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin: 15px 0 0 20px;
}
h1#logo a {
	display: block;
	height: 100%;
	width: 100%;
}
#socialmedia {
	float: left;
	height: 18px;
	margin: 68px 0 0 0;
	width: 160px;
}
#socialmedia span {
	color: #ffffff;
	font: 14px/0.6em "DINPro-Medium";
	width: 52px;
	text-transform: uppercase;
	float: left;
	margin-top: 4px;
}
#socialmedia ul {
	list-style: none;
	float: left;
	padding-left: 7px;
}
#socialmedia li {
	float: left;
	width: 18px;
	height: 18px;
	margin: 0 2px 0 3px;
}
#socialmedia li a {
	text-indent: -9995px;
	display: block;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
#socialmedia .rss a {
	background: transparent url(../images/icon_rss.png) top left no-repeat;
}
#socialmedia .facebook a {
	background: transparent url(../images/icon_facebook.png) top left no-repeat;
}
#socialmedia .youtube a {
	background: transparent url(../images/icon_youtube.png) top left no-repeat;
}
#socialmedia .addthis a {
	margin-top: -3px;
}
#jay {
	background:url(../images/jay.png) no-repeat bottom center;
	background-size: contain;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='images/jay.png',
		sizingMethod='scale');*/
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/jay.png',
	sizingMethod='scale')";
}
#judy {
	background:url(../images/judy.png) no-repeat bottom center;
	background-size: contain;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='images/judy.png',
		sizingMethod='scale');*/
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/judy.png',
	sizingMethod='scale')";
}
#gary {
	background:url(../images/gary.png) no-repeat bottom center;
	background-size: contain;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='images/gary.png',
		sizingMethod='scale');*/
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/gary.png',
	sizingMethod='scale')";
}
.emsvid {
	display: block;
	width: 415px;
	height: 236px;
	margin-bottom: 14px;
}

footer {
	position: fixed;
	bottom: 0;
	height: 20px;
	z-index: 90;
	padding: 0 10%;
	font-size: 14px;
	line-height: 14px;
	z-index: 105;
	font-size: 100%;
	color: #dddddd;
}

/* Slider Style */
#pxs_container{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background-color: #000;
}
#pxs_container2{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.pxs_bg{
}
.pxs_bg div{
	position:absolute;
	top:0px;
	left:0px;
	width:300%; /*2000px window width times number of images*/
	height:100%;
	background-repeat:no;
	background-position:top left;
	background-color:transparent;
}
.pxs_bg .pxs_bg1{
	background-image:url(../images/bg2.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	/*left negative 1/2 of ww*/
}
.pxs_bg .pxs_bg2{
	background-image:url(../images/bgsmoke.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	/*left negative 1/1.5 of ww*/
}
.pxs_slider_wrapper{
	display:none;
}
.pxs_container ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.pxs_slider{
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
}
ul.pxs_slider li{
	height:100%;
	float:left;
	position:relative;
}
#pxs_container ul.pxs_slider li div {
	height: 100%;
	left: 52%;
	position: absolute;
	top: 40%;
	width: 38%;
	margin-top: -130px;
	padding-top: 1%;
}
ul.pxs_slider li div .leftColumn {
	width: 30%;
	float: left;
}
ul.pxs_slider li div .rightColumn {
	width: 65%;
	margin-left: 35%;
}
ul.pxs_slider li div p {
	font: 1.8em/100% "DINPro-Medium";
	text-transform: uppercase;
}
ul.pxs_slider li div p.type {
	font: 1.0em/90% "AmericanTypewriterStd-Med";
	padding-bottom: 0;
}
ul.pxs_thumbnails{
	position: absolute;
	height: 7px;
	bottom: 45px;
	left: 50%;
	width: 100%;
	margin-left: -30px;
	z-index: 100;
}
ul.pxs_thumbnails li{
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	background: #fff;
	cursor: pointer;
	margin: 0 5px;
}
ul.pxs_thumbnails li.selected{
	background:#ffc20e;
}
.pxs_navigation span{
	position:absolute;
	width:30px;
	height:60px;
	margin-top:-30px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
	opacity:0.6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
}
#pxs_container .pxs_navigation span {
	top: 50%;
}
#pxs_container2 .pxs_navigation span {
	top: 5%;
}
.pxs_navigation span:hover{
	opacity:0.9;
}
.pxs_navigation span.pxs_prev{
	background:#000 url(../images/prev.png) no-repeat center center;
	left: 10px;
}
.pxs_navigation span.pxs_next{
	background:#000 url(../images/next.png) no-repeat center center;
	right: 10px;
}
.more, .saved {
	display: inline-block;
	color: #2b2b2b;
	padding: 1% 2%;
	background: #ffc20e;
	font-size: .5em !important; 
	line-height: .5em !important;
	text-transform: uppercase;
	/*box-shadow: #000 2px 2px 2px;*/
	text-decoration: none;
}
.more {
	margin-left: 10px;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
}
.saved {
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}
.clear {
	clear: both;
}
/*sliding panel*/

#panel {
	background: url(../images/panelambulance.jpg) no-repeat center 117px, url(../images/panelbg.jpg) repeat-x center 117px;
	background-size: auto 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 100%;
	z-index: 96;
}
#blipborder {
	background: url(../images/blipborder.png) repeat-x center;
	height: 217px;
	margin-top: -100px;
	width: 100%;
}
.wrapper {
	width: 80%;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
	background: url(../images/btn-slide.gif) no-repeat center top;
}
.fancyboxclipboard {
	height: 100%;
	width: 100%;
	color: #5a544e;
	background: url(../images/clipboard.png) no-repeat;
}
.savedclip {
	background: url(../images/clipboard2.png) no-repeat;
}
.fancyboxclipboard h2 {
	padding-top: 112px;
	margin-left: 17%;
	margin-right: 12%;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 23px;
	margin-top: -10px;
}
.fancyboxclipboard .life {
	font: 22px/0.9em "DINPro-Medium";
	text-transform: uppercase;
	margin-left: 60px;
	padding-bottom: 25px;
	width: 200px;
	float: left;
}
.fancyboxclipboard .rescuedate {
	font: 22px/0.9em "DINPro-Medium";
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-right: 50px;
	width: 190px;
	float: right;
}
.fancyboxclipboard .incident {
	font: 22px/0.9em "DINPro-Medium";
	text-transform: uppercase;
	margin-left: 60px;
	padding-bottom: 25px;
	float: left;
	clear: both;
}
.fancyboxclipboard p {
	margin-left: 11%;
	margin-right: 9%;
	font-size: 12.5px;
	line-height: 16px;
	font-weight: normal !important;
	clear: both;
}


/*bottom overlay*/
#bottomcontainer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color:#2b2b2b;
}
#joinus, #contact, #questions {
	width: 23.333% !important;
	margin-left: 5%;
	margin-right: 5%;
}
#bottomcontainer h2 {
	display: block;
	width: 80%;
	margin-left: 15%;
	height: 27%;
	font-size: 600%;
	line-height: 90%;
	margin-top: 2%;
	padding-bottom: 0;
	color: #fff;
}
#bottomcontainer .leftColumn {
	float: left;
	width: 60%;
	margin-right: 4%;
	margin-left: 0;
}
#bottomcontainer .rightColumn {
	width: 33%;
	margin-left: 64%;
}
#bottomcontainer h3 {
	font-size: 350%;
	line-height: 120%;
	text-transform: uppercase;
	font-family: "DinPro-Medium";
}
#bottomcontainer p {
	font-size: 150%;
	line-height: 130%;
	
}
#bottomcontainer .rightColumn label {
	display: block;
	font-size: 1em;
	line-height: 100%;
	font-weight: bold;
	float: left;
	width: 30%;
	margin-right: 10px;
	text-align: right;
	padding-top: 6px;
}
#bottomcontainer .rightColumn input, #bottomcontainer .rightColumn select, #bottomcontainer .rightColumn textarea {
	/*width: 100%;*/
	margin-bottom: 1.5%;
	line-height: 80%;
	width: 60%;
}
#submit, .wpcf7-submit {
	display: block;
	background-color: #ffc20e;
	border: 0;
	font-family: "DinPro-Medium";
	text-transform: uppercase;
	margin-top: 4px;
	padding: 5px;
	font-size: 180%;
	line-height: 60%;
	box-shadow: #000 2px 2px 2px;
	width: auto !important;
	height: auto !important;
	cursor: pointer;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	margin: 2% 0 2% 35%;
}

/*blog*/

.blog {
	background: #2b2b2b;
	border-bottom: 5px solid #f7bc0e;
	width: 100%;
	margin: 0;
	height: 110px;
	position: fixed;
	top: 0;
	min-width: 800px;
	z-index: 99;
}
#container {
	color: #000;
}
#container a {
	color: #f7bc0e;
	text-decoration: none;
	font-weight: bold;
}
#container a:hover {
	text-decoration: underline;
}
#cta {
	background: #000 url(../images/cta.jpg) center no-repeat;
	height: 249px;
	margin-top: 115px;
}
.blogwrapper {
	width: 960px;
	margin: 0 auto;
}
#cta .blogwrapper {
	width: 480px;
	padding: 20px 0 20px 480px;
}
.blogwrapper section, .blogwrapper .section {
	float: left;
	width: 620px;
	margin: 0 10px;
	padding: 20px 0;
}
section h2, .section h2 {
	font-size: 1.8em;
	text-transform: none;
	line-height: 100%;
}
.blogwrapper aside, .blogwrapper .aside {
	width: 300px;
	margin: 0 10px 0 650px;
	padding: 20px 0;
}
.date {
	color: #666;
	font-size: .8em;
}
#container hr {
	display: block;
	width: 100%;
	height: 1px;
	background: #999;
	margin: 9px 0 10px 0;
}
.tags {
	font-size: .8em;
}
#cta .blogwrapper p a.more {
	display: inline-block;
	color: #2b2b2b;
	padding: 1% 2%;
	background: #ffc20e;
	font-size: 20px !important; 
	line-height: 20px !important;
	text-transform: uppercase;
	/*box-shadow: #000 2px 2px 2px;*/
	text-decoration: none;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	float: right;
	margin-right: 50px;
}



/* pagination */

.fancyboxclipboard {
	position: relative;
}

ul.pagination {
	margin-top: 10px;
}
ul.simplePagerNav {
	margin-left: 60px;
	position: absolute;
	bottom: 180px;
	left: 0;
}
ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 3px 7px;
    margin-bottom: 10px;
	font-size: 12px;
}
ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}
li.currentPage {
    background: #ffc20e;	
}
ul.simplePagerNav li.currentPage a {
	color: #fff;	
}


.hidden {
	display: none;
}

.wpcf7 p {
	padding: 0;
	margin: 0;
	font-family: arial, helvetica, sans-serif !important;
	font-size: 1em !important;
	font-weight: normal !important;
	text-transform: none !important;
}


/*********** Contact Form 7 ***********/

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}
