/* CSS Document */

@font-face {
	font-family: 'DINPro-Medium';
	src: url('fonts/DINPro-Medium.eot');
	src: local('?'), url('fonts/DINPro-Medium.woff') format('woff'), url('fonts/DINPro-Medium.ttf') format('truetype'), url('fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmericanTypewriterStd-Med';
	src: url('fonts/AmericanTypewriterStd-Med.eot');
	src: local('?'), url('fonts/AmericanTypewriterStd-Med.woff') format('woff'), url('fonts/AmericanTypewriterStd-Med.ttf') format('truetype'), url('fonts/AmericanTypewriterStd-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, ul, li {
	padding:0;
	margin:0;
}
p {
	line-height: 140%;
	padding-bottom: 140%;
}
a {
	color: #fc3;
}
a:hover {
	text-decoration: underline;
}
body {
	font-size:100%;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	font-family:helvetica;
	color: #fff;
	height: 100%;
}
@media (max-height: 481px) {
  body {
    height: 420px;
  }
}
#home {
	background: #000;
	height: 100%;
}
#carouselHeader {
	width: 100%;
	height: 10px;
	margin: auto;
	top: 0px;
	position: absolute;
	z-index: 100;
	background: rgba(0,0,0,.5);
}
h1#logo {
	text-align: center;
	width: 4em;
	height: 1.5em;
	background: url(images/vrslogo.png);
	background-size: 100% 100%;
	text-indent: -9999px;
	margin: .3em auto .2em auto;
}
h1#logo a {
	display: block;
	height: 100%;
	width: 100%;
}
#carouselHeader p.nav{
	font-family: "DINPro-Medium";
	font-size: 80%;
	padding-bottom: 0;
	text-align: center;
	color: #666;
	text-transform: uppercase;
}
#carouselHeader p.nav a {
	color: #fff;
	text-decoration:none;
	margin: 0 .5em;
}
#carouselHeader p.nav a:hover {
	color: #fff;
	text-decoration:underline;
	margin: 0 .5em;
}

.footer {
	font-size: 80%;
	text-align: center;
}
#carouselWrapper {
	width:100%;
	height:100%;
	margin-top: 5.6em;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	font-family: "DINPro-Medium";
	text-transform: uppercase;
}
#carouselScroller {
	background: #000 url(images/bg_ems.jpg) no-repeat center left;
	background-size: 100% auto;
	width:300%;
	height:100%;
	float:left;
	padding:0;
}
#carouselScroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
	padding-top: 0;
}
#carouselScroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	float:left;
	width:33.33%;
	height:100%;
	line-height:140%;
}
#carouselNav {
	width: 100%;
	height: 3%;
	bottom: .4em;
	position: absolute;
	z-index: 100;
}
.center {
	width: 5em;
	margin: 0 auto 1em auto;
}
#carouselIndicator, #carouselIndicator > li {
	display:block;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
}
#carouselIndicator > li {
	text-indent:-9999em;
	width:.5em;
	height:.5em;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	-o-border-radius:.5em;
	border-radius:.5em;
	background:#ffc20e;
	overflow:hidden;
	margin-right:1em;
}
#carouselIndicator > li.focus {
	background:#fff;
}
#carouselIndicator > li:last-child {
	margin:0;
}


h2 {
	font: 1.5em/100% "DINPro-Medium";
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 0.5em;
}
#carouselScroller {
	height: 100%;
}
#carouselScroller li div .leftColumn {
	width: 50%;
	text-align: center;
	float: left;
	margin-top: 6em;
}
#carouselScroller li div .rightColumn {
	width: 40%;
	float: right;
	margin-top: .5em;
}
#carouselScroller li div p {
	font: .8em/100% "DINPro-Medium";
	text-transform: uppercase;
	padding-bottom: .6em;
}
#carouselScroller li p.type {
	font: .6em/90% "AmericanTypewriterStd-Med";
	padding-bottom: 0;
}

.playbutton {
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	padding: 0 1em;
}
.more, .saved {
	display: inline-block;
	color: #2b2b2b;
	padding: .4em .2em;
	background: #ffc20e;
	font-size: 1em !important; 
	line-height: .5em !important;
	text-transform: uppercase;
	/*box-shadow: #000 2px 2px 2px;*/
	text-decoration: none;
}
.more {
	margin-left: .5em;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
}
.saved {
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}
.more:hover, .saved:hover {
	background: #fff;
}
h3 {
	font: 1.5em/80% "DINPro-Medium";
	text-transform: uppercase;
	padding-bottom: .6em;
}

form {
	width: 80%;
	margin: 0 auto;
}
label, input {
	width: 260px;
	clear: both;
}

.wpcf7-submit {
	display: block;
	border: 0;
	font-family: "DinPro-Medium";
	text-transform: uppercase;
	font-size: 100%;
	line-height: 60%;
	width: auto !important;
	height: auto !important;
	margin: 5% 0 2% 30%;
}

.p {
	padding: 0 .5em;
}

.p ul {
	list-style: none;
}

.life, .rescuedate, .incident {
	font: 22px/0.9em "DINPro-Medium";
	text-transform: uppercase;
	display: block;
	padding: .5em 0 0 .5em;
}