/*
Theme Name: EMS Mobile
Author: BCF
*/

@font-face {
	font-family: 'DINPro-Medium';
	src: url('fonts/DINPro-Medium.eot');
	src: local('?'), url('fonts/DINPro-Medium.woff') format('woff'), url('fonts/DINPro-Medium.ttf') format('truetype'), url('fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmericanTypewriterStd-Med';
	src: url('fonts/AmericanTypewriterStd-Med.eot');
	src: local('?'), url('fonts/AmericanTypewriterStd-Med.woff') format('woff'), url('fonts/AmericanTypewriterStd-Med.ttf') format('truetype'), url('fonts/AmericanTypewriterStd-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Elements */

html {
	overflow-y: scroll !important;
}

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	/*background: #f2f3bd;*/
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}


/* Body */

#wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}

#col-left {
	clear: both;
	float: left;
	width: 100%;
	padding: 0 0 10px 0;
}

#col-right {
	float: right;
	width: 100%;
	padding: 0 0 10px 0;
}


/* Header */

#header {
	width: 100%;
	background: #2b2b2b;
	height: 115px;
	padding-top: 2px;
	border-bottom: #f7bc0e 6px solid;
}

#header #search {
	display: none;
}

h1#logo {
	text-align: center;
	width: 4em;
	height: 1.5em;
	background: url(images/vrslogo.png);
	background-size: 100% 100%;
	text-indent: -9999px;
	margin: .3em auto .2em auto;
}
h1#logo a {
	display: block;
	height: 100%;
	width: 100%;
}


/* Navigation */

#nav {
	font-family: 'DINPro-Medium';
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-top: 5px;
	width: 100%;
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline;
	margin: 0 12px;
}	
#nav a {
	color: #fff;
	background-color: #2b2b2b;
	text-decoration: none;
}
#nav a:hover {
	color: #ffc20e;
}


/* Banner */

#banner { 
	clear: both; 
	width: 100%;
	margin: 0;
}

#banner #banner-headline {
	padding: 25px 25px 12px 25px;
	color: #6e8d58;
	font-size: 32px;
	line-height: 38px;
}

#banner #banner-secondary {
	padding: 0 25px 25px 25px;
	color: #7a9a64;
	font-size: 24px;
	line-height: 32px;
}


/* Content */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #555;
	font-weight: normal;
	padding: 12px 25px 6px 25px;
}

h1 {	font-size: 25px; font-family: "DINPro-Medium"; line-height: 28px; padding: 18px 25px 12px 25px; }
.col3 h1 { font-size: 20px; line-height: 24px; padding: 12px 25px 10px 25px; }
h2 {	font-size: 18px; line-height: 22px; padding: 16px 25px 10px 25px; }
h3 {	font-size: 15px; line-height: 19px; padding: 14px 25px 10px 25px; }
h4 {	font-size: 14px; line-height: 17px; padding: 12px 25px 10px 25px; }
h5 {	font-size: 14px; line-height: 17px; padding: 10px 25px 10px 25px; }
h6 {	font-size: 13px; line-height: 16px; padding: 8px 25px 10px 25px; }

.h2, .single-title {
	font: 1.4em/100% "DINPro-Medium";
	padding-bottom: 0.5em;
	text-transform: none;
}

h1 a, h2 a {
	color: #000;
}

hr {
	color: #668551;
	background: #668551;
	height: 1px;
	margin: 2px 25px 16px 25px;
}

p, legend {
	margin: 0;
	padding: 2px 25px 16px 25px;
}

a {
	/*color: #f7bc0e;*/
	color: #cc3300;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:active, a:focus {
	outline: none;
}

small {
	color: #777;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
}

blockquote {
	background: #efefef;
	margin: 0 15px;
}

blockquote p {
	padding: 8px 10px 9px 10px;
}

ul {
	margin: 0;
	padding: 4px 25px 12px 65px;
	list-style-type: disc;
	list-style-image: none;
}

ul ul, ol ul {
	padding: 10px 16px 0 50px;
	list-style-type: circle;
}

ol {
	margin: 0;
	padding: 4px 25px 12px 65px;
}

ol ol, ul ol {
	padding: 10px 25px 0 50px;
}

li {
	padding: 0 0 6px 0;
}

dl {
	margin: 0;
	padding: 4px 25px 12px 45px;
}

dt {
	padding: 0 0 6px 0;
	font-weight: bold;
}

dd {
	padding: 0 0 9px 0;
	font-style: italic;
}

strong {
	color: #555;
}

.col3 {
	width: 100%;
	font-size: 12px;
	line-height: 20px;
}

.home-photo {
	display: block;
	width: 270px;
	height: 125px;
	text-indent: -9999px;
	background: #0e0e0e center center no-repeat;
}

.button {
	padding: 5px 9px;
}

.post { margin-bottom: 40px; }

.pagination {
	display: block;
	font-size: 15px;
	text-align: center;
	margin: 5px 0 30px 0;
}

#morepage-list { clear: both; }

.pagination a, .pagination .on, #morepage-list a, #morepage-list .on {
	font-size: 14px;
	text-align: center;
	margin: 0 4px 0 0;
	padding: 4px 8px;
	border: 1px solid #ccc;
}
.pagination a strong { font-weight: normal; }

.pagination .on, #morepage-list .on {
	font-weight: normal;
	background: #eee;
	border: 1px solid #666;
}

.postmetadata {
	clear: both;
	margin: 5px 25px;
	padding: 12px 15px 15px 15px;
	color: #555;
	font-size: 11px;
	line-height: 17px;
	background: #eee;
}

.postmetadata a { color: #555; text-decoration: underline; }
.postmetadata a:hover { color: #555; text-decoration: none; }

form {
	margin: 0;
	padding: 2px 25px 16px 25px;
}

form p { padding-left: 0; padding-right: 0; }


/* Comments */

.commentlist {
	padding: 0;
	margin: 0 25px;
	text-align: justify;
}

.commentmetadata {
	margin: 0;
	display: block;
	font-weight: normal;
}	
	
.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	margin: 10px 5px 10px 0;
}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
}

.commentlist li.depth-1 {	list-style: none; }
	
.commentlist li ul li {
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist li .avatar { 
	float: right;
	padding: 2px;
	background: #fff;
	border: 1px solid #d7d86f;
}
	
.children { padding: 0; }

.nocomments {
	color: #777;
	text-align: center;
	margin: 0;
	padding: 0;
}

.bypostauthor {}

#commentform {
	margin: 5px 10px 0 0;
}
	
#commentform p {
	margin: 5px 0;
}

#commentform input {
	width: 170px;
	padding: 4px 3px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	background: #fff;
	border: 1px solid #d7d86f;
}
	
#commentform textarea {
	width: 100%;
	padding: 4px 3px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	background: #fff;
	border: 1px solid #d7d86f;
}
	
#commentform #submit {
	float: right;
	margin: 0;
	padding: 4px 3px;
	color: #fff;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
	background: #cdcdcd;
    border: 1px solid #828282;
    -moz-border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}

#commentform #submit:hover { 
    text-decoration: none;
}


/* Search form */

#searchform {
	margin: 10px 25px;
	padding: 0;
}

#searchform #s {
	float: left;
	width: 60%;
	color: #999;
	font-family: georgia, arial, tahoma, verdana, helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	line-height: 19px;
	padding: 5px 6px;
	margin: 0 8px 0 0;
	background: #fff;
	border: 1px solid #cdcdcd;
}

#searchform #b-search {
	float: left; 
	width: 60px; 
	height: 29px; 
    margin: 0;
	padding: 0;
    color: #fff;
	font-size: 17px;
	font-style: normal;
	line-height: 28px;
	background: #cdcdcd;
    border: 1px solid #828282;
    -moz-border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}

#searchform #b-search:hover { 
    text-decoration: none;
}


/* Various Tags & Classes */

.screen-reader-text {
    position: absolute;
    left: -1000em;
}

.thread-alt { background-color: #fff; }

.thread-even { background-color: #000; }

.depth-1 { border: 1px solid #d7d86f; }

.even { border-left: 1px solid #d7d86f; }

cite { font-weight: bold; }

address, pre, .myclass {
	margin: 0;
	padding: 2px 25px 16px 25px;
}


/* Right column styles */

#col-right ul, #col-right ul ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

#col-right ul li {
	margin-bottom: 15px;
}

#col-right ul ul, #col-right .widget ul {
	margin: 5px 15px 0 40px;
	list-style-type: square;
	list-style-image: none;
}

#col-right ul ol, #col-right .widget ol {
	margin: 5px 15px 0 25px;
}

#col-right ul li {
	margin-bottom: 0;
}

#col-right .widget .textwidget, #col-right .widget .tagcloud, #col-right .widget .st-tag-cloud {
	padding: 5px 15px 0 25px;
}

.widget a {
	font-weight: bold;
}

/* Tables */

table {
	padding: 0;
	margin: 2px 25px 16px 25px;
	border: 0;
}

table caption {
	color: #444;
	background: #ddd;
	padding: 5px 8px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 17px;
	line-height: 21px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #fff;
}

table thead tr th, table tr th {
	text-align: left;
	padding: 4px 8px;
	color: #777;
	background: #e7e7e7;
}

table tbody tr td, table tr td {
	padding: 3px 8px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	vertical-align: middle;
	border-bottom: 1px solid #e7e7e7;
}

table tfoot tr td {
	color: #888;
	font-size: 11px;
	padding: 2px 8px;
}


/* Toolbox */

.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

.fleft { float: left; }
.fright { float: right; }

.cboth { clear: both; }
.cleft { clear: left; }
.cright { clear: right; }


.home .sticky {
	margin: 0px 15px 25px 15px;
    padding: 0 0 12px 0;
    background: #fafaea;
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px !important; /* prevent too-wide images from breaking layout */
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	padding: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* Footer */

#footer {
	clear: both;
	width: 100%;
	padding: 0 0 18px 0;
	color: #000;
	font-size: 11px;
	line-height: 18px;
	background: #f7bc0e;
}

#footer p {
	padding: 14px 25px 0 25px;
}

#footer p.fleft, #footer p.fright {
	float: none;
}

#footer a {
	color: #7e7f41;
	text-decoration: none;
	border-bottom: 0;
}

#footer a:hover {
	color: #41421a;
	text-decoration: none;
	border-bottom: 0;
}

